/* Tailwind CSS v4 with DaisyUI */
@import "tailwindcss";

@plugin "daisyui" {
    themes:
        dim,
        dark,
        forest,
        aqua,
        black,
        luxury,
        dracula --default,
        business,
        autumn,
        winter,
        pastel,
        garden,
        cupcake;
}
